<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="{{ assets('css/login/styles.css') }}">
    <link rel="stylesheet" href="{{ assets('css/all.css') }}">
<body>
    <div class="container">

        <h2>Login</h2>

        <hr>

        {{ message('message') }}

        <form action="/login" method="post">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" name="email" class="form-control" id="email">
                {{ message('email') }}
            </div>

            <div class="form-group">
                <label for="passwd">Password</label>
                <input type="password" name="passwd" class="form-control" id="passwd">
                {{ message('passwd') }}
            </div>

            <button type="submit" class="btn btn-success">Enviar</button>

        </form>

    </div>
</body>
</html>