<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin/painel">Blog Smash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Posts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/post/create">Cadastrar</a>
                </div>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0  mr-auto" method="GET" action="/admin/painel">
            <input class="form-control mr-sm-2" type="search" name="s" placeholder="Buscar posts" aria-label="Pesquisar">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar Posts</button>
        </form>


        <ul class="navbar-nav">

            <li class="nav-item">
                <img src="{{ admin().photo }}" class="rounded-circle" height="40" alt="Foto do perfil">
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#">Olá, {{ admin().name }}</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Perfil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/perfil/edit">Alterar</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-sign-out"></i>  Logout</a>
            </li>
        </ul>
    </div>
</nav>